<div ncy-breadcrumb></div>

<h1><strong>Crear direccion regional</strong></h1>

<form name="form" sg-read-only="!access.administrarDireccionesRegionales" class="form-horizontal" novalidate>

	<div class="form-group" data-ng-class="{ 'has-error' : form.denominacion.$invalid && form.$submitted }">
		<label class="col-sm-2 control-label">Denominacion:</label>
		<div class="col-sm-3">
			<input name="denominacion" type="text" data-ng-model="view.direccionRegional.denominacion" data-ng-minlength="1" data-ng-maxlength="200" class="form-control" pf-focused="true" autofocus capitalize required/>
			<div data-ng-messages="form.denominacion.$error" data-ng-if="form.$submitted">
				<div class="has-error" data-ng-message="required">Ingrese direccion regional.</div>
				<div class="has-error" data-ng-message="minlength">Ingrese direccion regional.</div>
				<div class="has-error" data-ng-message="maxlength">Maximo 200 caracteres.</div>
			</div>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button sg-save ng-disabled="working">
				<span ng-show="working">Guardando...</span>
				<span ng-hide="working">Guardar</span>
			</button>
			<button sg-cancel ng-disabled="working" ui-sref="^.buscar">Cancelar</button>
		</div>
	</div>
</form>
